doctype html 
html
  head
    title XYZ Dance Academy 
    block scripts
    block style
  body
    nav#navbar.top 
        ul 
            div#logo 
                img(src="../static/img/logo.png")
                | XYZ 
            li #[a(href="/") Home]
            li #[a(href="/") About Us] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/") Contact Us]   
    block content
    footer#footer
        | Copyright © www.XYZDanceAcademy.com | All rights reserved!